grpcio==1.80.0
grpcio-reflection==1.80.0
grpcio-tools==1.80.0
iniconfig==2.3.0
packaging==26.2
pluggy==1.6.0
protobuf==6.33.6
pygments==2.20.0
pytest==9.0.3
setuptools==82.0.1
typing-extensions==4.15.0
